<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="../../res/bootstrap/bootstrap.min2.css">
<link rel="stylesheet" type="text/css" href="../../res/css/personal.css">
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
      <div class="bg">
      <div class="nameblock">
        <img class="rounded-circle reviewer" src="http://standaloneinstaller.com/upload/avatar.png" style="display: inline-block;">
        <div class="name" style="display: inline-block;">
          張XX  <div class="AfterName">員工</div>
        </div>
        <br/>
      </div>     
      <h1 style="position: relative;left: 10%;">今日排程</h1>        
      <div class="undername" id="U">
        <hr/>
          <ul>
            <li>使用工具</li>
            <li>工作內容</li>
            <li>進度</li>
          </ul>
        <hr/>

        <hr/>
          <ul>
            <li>加工002</li>
            <li>進行加工</li>
            <li>50%</li>
          </ul>
        <hr/>
      </div>

      <div class="bottomblock" id="B">
      <ul>
        <li><a href="#">訂單總覽</a></li>
        <li><a href="#">製成規劃總覽</a></li>
        <li><a href="#">加工工單總覽</a></li>
        <li><a href="#">包裝總覽</a></li>
        <li><a href="#">工具總覽</a></li>
      </ul>
      </div>
    </div>
 
</body>
</html>