<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" type="text/css" href="../../res/bootstrap/bootstrap.min2.css">
  <link rel="stylesheet" type="text/css" href="../../res/css/userpage.css">
  <!------ Include the above in your HEAD tag ---------->
</head>

<body>

  <div class="reviews">
    <div class="row blockquote review-item">
      <div class="col-md-3 text-center">
        <img class="rounded-circle reviewer" src="http://standaloneinstaller.com/upload/avatar.png">
        <div class="caption">
          <h2>林粼粼<div class="AfterName">經理</div>
          </h2>
        </div>
      </div>
      <div class="col-md-9">
        <h4 class="topframe">員工</h4>
        <h4 class="topframe">設備</h4>
        <h4>排程</h4>
        <hr />

        <h2 class="topframe2">25</h2>
        <h2 class="topframe2">20</h2>
        <h2>61</h2>
      </div>

    </div>
  </div>






  <div class="card-body" style="margin:15px">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">設備類型</th>
          <th scope="col">設備編號</th>
          <th scope="col">使用狀況</th>
          <th scope="col">工單編號</th>
          <th scope="col">期間</th>
          <th scope="col">使用員工</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">機台</th>
          <td>001</td>
          <td>使用中</td>
          <td>1081132</td>
          <td>11/05~11/18</td>
          <td>0028</td>
        </tr>
        <tr>
          <th scope="row">機台</th>
          <td>001</td>
          <td>使用中</td>
          <td>1081132</td>
          <td>11/05~11/18</td>
          <td>0028</td>
        </tr>
        <tr>
          <th scope="row">機台</th>
          <td>001</td>
          <td>使用中</td>
          <td>1081132</td>
          <td>11/05~11/18</td>
          <td>0028</td>
        </tr>
      </tbody>
    </table>

  </div>

</body>

</html>