<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="../../res/bootstrap/bootstrap.min2.css">
<link rel="stylesheet" type="text/css" href="../../res/css/userpage2.css">
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
            <div class="card-body" style="margin:15px">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><h1>人員</h1></th>
                    <th scope="col"><h1>機台</h1></th>
                    <th scope="col"><h1>刀具</h1></th>
                    <th scope="col"><h1>治具</h1></th>
                    <th scope="col"><h1>原物料</h1></th>
                    <th scope="col"><h1>其他</h1></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                    <div class="background-setting backgorund-default searchFrame">
                    <h4>搜尋</h4>
                    <hr/>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">  人員1</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">人員2</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">人員3</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">人員4</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">人員5</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">人員6</button>
                    </div>
                    </th>
                    
                    <th>
                    <div class="background-setting backgorund-default searchFrame">
                    <h4>搜尋</h4>
                    <hr/>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">  機台1</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">機台2</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">機台3</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">機台4</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">機台5</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">機台6</button>
                    </div>
                    </th>
                    <th>
                    <div class="background-setting backgorund-default searchFrame">
                    <h4>搜尋</h4>
                    <hr/>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">  刀具1</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">刀具2</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">刀具3</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">刀具4</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">刀具5</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">刀具6</button>
                    </div>
                    </th>
                    <th>
                    <div class="background-setting backgorund-default searchFrame">
                    <h4>搜尋</h4>
                    <hr/>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">  治具1</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">治具2</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">治具3</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">治具4</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">治具5</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">治具6</button>
                    </div>
                    </th>
                    <th>
                    <div class="background-setting backgorund-default searchFrame">
                    <h4>搜尋</h4>
                    <hr/>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">  原料1</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">原料2</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">原料3</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">原料4</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">原料5</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">原料6</button>
                    </div>
                    </th>
                    <th>
                    <div class="background-setting backgorund-default searchFrame">
                    <h4>搜尋</h4>
                    <hr/>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">  其他1</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">其他2</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">其他3</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">其他4</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">其他5</button>
                    <button class="btn btn-secondary btn-round btn-block" data-toggle="modal" data-target=".animate" data-ui-class="a-fadeUp" ><input type="checkbox" name="" value="">其他6</button>
                    </div>
                    </th>
                  </tr>
                  <tr>
                    <th scope="col"><h1><a href="#">編輯</a></h1></th>
                    <th scope="col"><h1><a href="#">編輯</a></h1></th>
                    <th scope="col"><h1><a href="#">編輯</a></h1></th>
                    <th scope="col"><h1><a href="#">編輯</a></h1></th>
                    <th scope="col"><h1><a href="#">編輯</a></h1></th>
                    <th scope="col"><h1><a href="#">編輯</a></h1></th> 
                  </tr>
                </tbody>
              </table>
           

        

</body>
</html>